@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Credits:</p>
<p>Using <a href="https://clipboardjs.com/">clipboard.js</a> to provide "copy to clipboard" functionality; Accessing clipboard from pure javascript can be affected by brwoser type and version, so some smartness in this javascript is due (provide polyfills for older browsers, or detect support and disable alltogether; also consider mobile browsers) </p>
<p>Method to shorten URLs: a random google search result: <a href="http://stackoverflow.com/a/742047/365968"></a>, then link to <a href="https://gist.github.com/dgritsko/9554733"></a> </p>

    
